@media only screen and (max-width: 640px) { /* MOBILE */
    .main_nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .main_nav .main_links li {
        padding: 0px 15px;
        justify-items: center;
    }

    .main_header {
        display: grid;
        height: 80vh;
        grid-template-columns: 0;
        grid-template-rows: 2;
        padding: 30px 0px;
        font-family: "Roboto", sans-serif;
    }

    .main_header .logo {
        color: white;
        /* padding: 50px 0px; */
        text-align: center;
        padding: 50px 0px;
        font-size: 60px;
        grid-column: 2;
        grid-row: 1;
    }

    
}
@media only screen and (max-width: 420px) { /* MOBILE */
    .main_nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .main_nav .main_links li {
        padding: 0px 15px;
        justify-items: center;
    }

    .main_header {
        display: grid;
        height: 80vh;
        grid-template-columns: 0;
        grid-template-rows: 2;
        padding: 30px 0px;
        font-family: "Roboto", sans-serif;
    }

    .main_header .logo {
        color: white;
        /* padding: 50px 0px; */
        text-align: center;
        padding: 50px 0px;
        font-size: 40px;
        grid-column: 2;
        grid-row: 1;
    }


    .about_section {
        background-color: #191919;
        font-family: "Roboto", sans-serif;
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 2;
     }
     
     .about_section h2 {
         grid-row: 1;
         grid-column: 2;
         align-self: center;
         justify-self: center;
         padding-bottom: 40px;
         color: white;
         font-size: 40px;
     }
     
     .about_section p {    
         grid-row: 2;
         grid-column: 2;
         padding: 10px 20px;
         align-self: center;
         text-align: center;
         color: white;
         font-size: 20px;
     }

     #project_section {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    width: 100%;
    display: block;
}

.table_title h2 {
    color: black;
    font-size: 40px;
    width: 90%;
    padding: 20px 0px;
    margin: auto;
    text-align: center;
}

#project_section table {
    width: 90%;
    max-width: 1050px;
    margin: auto;
    padding: 20px 0px;
}

#project_section table tbody {
    word-break: break-all;
    text-align: center;
    color: black;
}

#project_section table thead {
    font-size: 20px;
    text-align: center;
    color: black;
}

#project_section table tbody tr td{
    padding: 10px 10px;
}

footer #contact i {
        padding: 10px 0px;
        font-size: 20px;
    }
    
    footer #contact i .contact_text {
        padding: 0px 15px;
        font-size: 20px;
        letter-spacing: 2px;
    }
}


@media (max-width: 768px) { /* TABLET */
    .main_nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .main_nav .main_links li {
        padding: 0px 15px;
        justify-items: center;
    }

    .main_header {
        display: grid;
        height: 80vh;
        grid-template-columns: 0;
        grid-template-rows: 2;
        font-family: "Roboto", sans-serif;
    }

    .main_header .logo {
        color: white;
        /* padding: 50px 0px; */
        text-align: center;
        padding: 50px 0px;
        font-size: 60px;
        grid-column: 2;
        grid-row: 1;
    }

    .main_header h2 {
        color: white;
        align-self: flex-start;
        text-align: center;
        font-size: 25px;
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 20px 0px;
    }

    .about_section {
        background-color: #191919;
        font-family: "Roboto", sans-serif;
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 2;
     }
     
     .about_section h2 {
         grid-row: 1;
         grid-column: 2;
         align-self: center;
         justify-self: center;
         padding-bottom: 40px;
         color: white;
         font-size: 40px;
     }
     
     .about_section p {    
         grid-row: 2;
         grid-column: 2;
         padding: 10px 20px;
         align-self: center;
         text-align: center;
         color: white;
         font-size: 20px;
     }
}

@media (max-width: 906px) { 
    .main_nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .main_nav .main_links li {
        padding: 0px 15px;
        justify-items: center;
    }

    .main_header {
        display: grid;
        height: 80vh;
        grid-template-columns: 0;
        grid-template-rows: 2;
        font-family: "Roboto", sans-serif;
    }

    .main_header .logo {
        color: white;
        /* padding: 50px 0px; */
        text-align: center;
        padding: 50px 0px;
        font-size: 60px;
        grid-column: 2;
        grid-row: 1;
    }

    .main_header h2 {
        color: white;
        align-self: flex-start;
        text-align: center;
        font-size: 25px;
        grid-column: 2;
        grid-row: 2;
    }

    .about_section {
        background-color: #191919;
        font-family: "Roboto", sans-serif;
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 2;
     }
     
     .about_section h2 {
         grid-row: 1;
         grid-column: 2;
         align-self: center;
         justify-self: center;
         padding-bottom: 40px;
         color: white;
         font-size: 40px;
     }
     
     .about_section p {    
         grid-row: 2;
         grid-column: 2;
         padding: 10px 20px;
         align-self: center;
         text-align: center;
         color: white;
         font-size: 20px;
     }
}

@media (max-width: 1024px) { /* TABLET LANDSCAPE */
    .main_nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .main_nav .main_links li {
        padding: 0px 15px;
        justify-items: center;
    }

    .main_header {
        display: grid;
        height: 80vh;
        grid-template-columns: 0;
        grid-template-rows: 2;
        font-family: "Roboto", sans-serif;
    }

    .main_header .logo {
        color: white;
        /* padding: 50px 0px; */
        text-align: center;
        padding: 50px 0px;
        font-size: 60px;
        grid-column: 2;
        grid-row: 1;
    }

    .main_header h2 {
        color: white;
        align-self: flex-start;
        text-align: center;
        font-size: 25px;
        grid-column: 2;
        grid-row: 2;
    }

    .about_section {
        background-color: #191919;
        font-family: "Roboto", sans-serif;
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 2;
     }
     
     .about_section h2 {
         grid-row: 1;
         grid-column: 2;
         align-self: center;
         justify-self: center;
         padding-bottom: 40px;
         color: white;
         font-size: 40px;
     }
     
     .about_section p {    
         grid-row: 2;
         grid-column: 2;
         padding: 10px 20px;
         align-self: center;
         text-align: center;
         color: white;
         font-size: 20px;
     }
}

@media (min-width: 1280px) { /* LAPTOP */
    #image {
        background: url("assets/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .main_nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .main_nav .main_links li {
        padding: 0px 15px;
        justify-items: center;
    }

    .main_header {
        display: grid;
        height: 80vh;
        grid-template-columns: 0;
        grid-template-rows: 2;
        font-family: "Roboto", sans-serif;
    }

    .main_header .logo {
        color: white;
        /* padding: 50px 0px; */
        text-align: center;
        padding: 50px 0px;
        font-size: 60px;
        grid-column: 2;
        grid-row: 1;
    }

    .main_header h2 {
        color: white;
        align-self: flex-start;
        text-align: center;
        font-size: 25px;
        grid-column: 2;
        grid-row: 2;
    }

    .about_section {
        background-color: #191919;
        font-family: "Roboto", sans-serif;
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 2;
     }
     
     .about_section h2 {
         grid-row: 1;
         grid-column: 2;
         align-self: center;
         justify-self: center;
         padding-bottom: 40px;
         color: white;
         font-size: 40px;
     }
     
     .about_section p {    
         grid-row: 2;
         grid-column: 2;
         padding: 10px 20px;
         align-self: center;
         text-align: center;
         color: white;
         font-size: 20px;
     }
}